<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/accueil']" >Projet Angular</a>
          </div>
          <ul class="nav-item">
            <a  routerLinkActive="actif"  [routerLink]="['/produits']" >Accueil</a>
            <a  routerLinkActive="actif"  [routerLink]="['/accueil']" >Produits</a>
            <a  routerLinkActive="actif"  [routerLink]="['/contact']" >Contact</a>
          </ul>
          <ul class="nav navbar-nav navbar-right">
                
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Deconnexion</a></li>
              </ul>
        </div>
      </nav>
  
    
    
   
  