

<div class="container">
    <div class="row">
      <div class="col-sm-4" >
        <h3 class="text-muted">{{p1.nom}}</h3>
        <img width="300px" height="400px" [src]="p1._image" 
         class="img-fluid img-thumbnail"/>
         <p>identifiant:<span class="text-muted">{{p1._identifiant}}</span></p>
         <p>{{p1.nom}}:{{p1.marque |uppercase}}</p>
        <p>{{p1.prix | pipe}}</p>

         <img width="300px" height="400px" [src]="p2._image" 
         class="img-fluid img-thumbnail"/>
         <p>identifiant:<span class="text-muted">{{p2._identifiant}}</span></p>
         <p>{{p2.nom}}:{{p2.marque  |uppercase}}</p>
         <p>{{p2.prix | pipe}}</p>
         <img width="300px" height="400px" [src]="p3._image" 
         class="img-fluid img-thumbnail"/>
         <p>identifiant:<span class="text-muted">{{p3._identifiant}}</span></p>
         <p>{{p3.nom}}:{{p3.marque  |uppercase}}</p>
         <p>{{p3.prix | pipe}}</p>
      </div>
      <div class="col-sm-4">
        <h3 class="text-muted">{{p4.nom}}</h3>
        <img width="200px" height="200px" [src]="p4._image" 
         class="img-fluid img-thumbnail"/>
         <p>identifiant:<span class="text-muted">{{p4._identifiant}}</span></p>
          <p>{{p4.nom}}:{{p4.marque  |uppercase}}</p>
          <p>{{p4.prix | pipe}}</p>
          <img width="200px" height="200px" [src]="p5._image" 
         class="img-fluid img-thumbnail"/>
         <p>identifiant:<span class="text-muted">{{p5._identifiant}}</span></p>
         <p>{{p5.nom}}:{{p5.marque  |uppercase}}</p>
         <p>{{p5.prix | pipe}}</p>
      </div>
      <div class="col-sm-4">
        <h3 class="text-muted">{{p6.nom}}</h3>
        <img width="300px" height="300px" [src]="p6._image"  
        class="img-fluid img-thumbnail"/>
        <p>identifiant:<span class="text-muted">{{p6._identifiant}}</span></p>
        <p>{{p6.nom}}:{{p6.marque  |uppercase}}</p>
        <p>{{p6.prix | pipe}}</p>
        <img width="300px" height="400px" [src]="p7._image" 
         class="img-fluid img-thumbnail"/>
         <p>identifiant:<span class="text-muted">{{p7._identifiant}}</span></p>
         <p>{{p7.nom}}:{{p7.marque  |uppercase}}</p>
         <p>{{p7.prix | pipe}}</p>
      </div>
    </div>
  </div>
