<p>acceuil work</p>>
<form>
    <label>Donnez identifiant</label>
    <input type="text" id="n" name="identifiant" [(ngModel)]="identifiant" />
    <label>Donnez Categorie</label>
    <input type="text" id="n" name="Categorie" [(ngModel)]="nom" />
    <label>Donnez prix</label>
    <input type="number" id="n" name="prix" [(ngModel)]="prix" />
    <label>Donnez marque</label>
    <input type="text" id="n" name="marque" [(ngModel)]="marque" />
    <label>Donnez Date</label>
    <input type="date" id="n" name="date" [(ngModel)]="date" />
    <!--<button (click)="ajouter(this.prod)">ajouter</button>-->

    </form>
